@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body,
html {

    overflow: visible;
    margin: 0 auto;
    background-color: var(--c-active-four);
    color: white;
    scroll-behavior: smooth;


}

ul,
li {
    list-style: none;


}

a {
    text-decoration: none;
    color: inherit;
}

/*END OF RESET*/

:root {

    /*FONTS*/
    --f-heading-extra-xl: 700 6em 'Fredoka', sans-serif;
    --f-heading-xxl: 700 5em 'Fredoka', sans-serif;
    --f-heading-xl: 700 4em 'Fredoka', sans-serif;
    --f-heading-lg: 600 2.5em 'Fredoka', sans-serif;
    --f-heading-md: 600 2em 'Fredoka', sans-serif;
    --f-heading-sm: 500 1.5em 'Fredoka', sans-serif;
    --f-heading-xs: 400 1em 'Fredoka', sans-serif;
    --f-body: 300 .875em 'Fredoka', sans-serif;
    --f-link-lg: 500 2.5em 'Fredoka', sans-serif;
    --f-link-md: 500 1.2em 'Fredoka', sans-serif;
    --f-link: 500 1em 'Fredoka', sans-serif;
    --f-link-xs: 400 .75em 'Fredoka', sans-serif;

    /*COLORS*/

    --c-text: #211832;
    --c-text-two: #758A93;
    --c-active-one: #5A9CB5;
    --c-active-two: #FACE68;
    --c-active-three: #FA6868;
    --c-active-four: #BADFDB;
    --c-active-five: #FFCDC9;
    --c-active-six: #CD5656;
    --c-active-seven: #FDACAC;
    --c-hover: #FEEAC9;
    --c-border: #37353E;
    --c-background: #8CA9FF;
    --c-background-lighter: #FCF8F8;
    --c-background-darker: #8967B3;


    /*TEXT SHADOW*/
    --text-shadow: rgb(85, 88, 121) 2px 0px 0px, rgb(85, 88, 121) 1.75517px 0.958851px 0px,
        rgb(85, 88, 121) 1.0806px 1.68294px 0px, rgb(85, 88, 121) 0.141474px 1.99499px 0px,
        rgb(85, 88, 121) -0.832294px 1.81859px 0px, rgb(85, 88, 121) -1.60229px 1.19694px 0px,
        rgb(85, 88, 121) -1.97998px 0.28224px 0px, rgb(85, 88, 121) -1.87291px -0.701566px 0px,
        rgb(85, 88, 121) -1.30729px -1.5136px 0px, rgb(85, 88, 121) -0.421592px -1.95506px 0px,
        rgb(85, 88, 121) 0.567324px -1.91785px 0px, rgb(85, 88, 121) 1.41734px -1.41108px 0px,
        rgb(85, 88, 121) 1.92034px -0.558831px 0px;

    /*SPACING*/
    --s-xxl: 8rem;
    --s-xl: 4rem;
    --s-lg: 3rem;
    --s-md: 2rem;
    --s-mmd: 1.25rem;
    --s-sm: 1rem;
    --s-xs: .5625rem;
    --s-xxs: .2813rem;

    /*sIZES*/
    --mw-xl: 75rem;
    --mw-lg: 60.625rem;
    --mw-md: 40rem;
    --mw-sm: 31.25rem;
    /*RADIUS*/
    --r-xl: 6rem;
    --r-md: 3rem;
    --r-mmd: 1.5rem;
    --r-sm: .3125rem;



}

/*------------------*/

/*ELEMENTS*/

.icon-outline {
    /*EFECTO TEXT-SHADOW TOMADO DEL GIT https://owumaro.github.io/text-stroke-generator/*/
    text-shadow: var(--text-shadow);
}

.block-column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.block-row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}

.container {
    display: flex;
    max-width: var(--mw-lg);
    margin: 0 auto;
    gap: 1rem;
}

/*TEXTS*/

.text-h1 {
    font: var(--f-heading-xl);
}

.text-h2 {
    font: var(--f-heading-lg)
}

.text-h3 {
    font: var(--f-heading-md)
}

.text-h4 {
    font: var(--f-heading-sm);
}

.text-body {
    font: var(--f-heading-xs)
}

.text-link {
    font: var(--f-link)
}

.text-link-smaller {
    font: var(--f-link-xs)
}

/*BUTTONS*/

.btn--rounded {
    font: var(--f-link);
    background-color: var(--c-active-one);
    color: var(--c-text);
    padding: var(--s-xs) var(--s-md);
    border-radius: var(--r-md);
    box-shadow: 6px 6px 0 rgba(85, 88, 121, 0.6);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.05) translateY(-2px);
    }
}

/*END OF ELEMENTS*/

/*HEADER*/

.nav__container {

    & .nav__block {
        padding: var(--s-sm) clamp(1rem, 5vw, var(--s-md));
        background-color: white;
        width: 100%;


        & .nav__main-links {

            & a:hover {
                color: var(--c-active-three);

                transition: color 0.3s ease;
            }

            & .text-link {
                font: var(--f-link-md);
                color: var(--c-text-two);
            }

        }


        & .sign-up__block {
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;
            width: max-content;


            picture {
                display: block;
                width: 2.5rem;
                height: 2.5rem;
                flex-shrink: 0;
                border-radius: 50%;
                overflow: hidden
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
                pointer-events: none;
            }

            & .text-body {
                color: var(--c-text);

            }

            & .uf__container {
                position: absolute;
                left: 0;
                top: 100%;
                height: 18.75rem;
                width: 20rem;
                z-index: 99;
                padding: var(--s-mmd);
                background-color: var(--c-active-one, #fff);
                box-shadow: 0 4px 15px rgba(0,0,0,0.2);
                border-radius: var(--r-md);

                display: none;
                opacity: 0;
                transform: translateY(-10px);
                transition: opacity 0.3s ease, transform 0.3s ease;

                /*USER FORM*/
                & .ul-form {
                    display: flex;
                    flex-direction: column;
                    gap: var(--s-sm);
                    width: 100%;

                    /*LABEL*/
                    & label {
                        font: var(--f-heading-sm);
                    }

                    /*INPUT*/
                    & input {
                        padding: var(--s-sm);
                        border-radius: var(--r-md);
                        border: none;
                        outline: none;

                        font: var(--f-body);
                        color: var(--c-text);

                        /* INPUT FOCUS */
                        &:focus {
                            box-shadow: 0 0 0 3px var(--c-active-five);
                        }
                    }

                    /*SCORE TEXT*/
                    & p {
                        margin: 0;
                    }

                    /*BUTTON*/
                    & button {
                        margin-top: var(--s-sm);
                        align-self: center;
                    }
                }
            }

            & .open {
                display: block;
                opacity: 1;
                transform: translateY(0);
            }
        }

        & .block-row {

            gap: clamp(1rem, 8vw, 3rem);
        }

        & .btn--rounded {
            margin-left: auto;

            box-shadow: 2px 2px 0 rgba(85, 88, 121, 0.6);
            color: white;
            white-space: nowrap;
            font-size: calc(0.85rem + 0.3vw);
            padding: 0.6em calc(1.2em + 0.5vw);

            &:hover {
                background-color: var(--c-hover);
            }


        }
    }
}

/*END OF HEADER*/

/*HERO*/

.hero {

    & .hero__container {
        padding: var(--s-lg) clamp(1rem, 5vw, var(--s-md));
        background: url('../assests/images/hero-background.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        height: 37.5rem;
        width: 60.625rem;


        & .hero__block {
            width: 100%;

            & .hero__title {
                max-width: 56.25rem;
                text-align: center;

                & .hero__logo {
                    width: 55rem;
                    height: auto;
                    display: block;
                    margin: 0 auto;
                }

            }

            & .block-column {
                gap: 1rem;

            }

            & .text-h1 {
                margin-top: 20rem;
                font: var(--f-heading-md);
                text-transform: uppercase;


            }

        }
    }

}

/*END OF HERO*/

/*BANNER*/

.banner-section {

    & .banner__container {
        background-color: var(--c-active-one);
        padding: var(--s-md);


        & .banner__block {

            .banner__info {
                flex: 1 1 25rem;

                .text-h2 {
                    padding: var(--s-sm);
                    color: var(--c-active-five);
                    text-align: left;
                    width: 80%;
                }

                .text-body {
                    text-align: justify;
                    padding: 0 var(--s-sm);
                    line-height: 2rem;

                }

            }

            .banner__image {
                flex: 0 1 22rem;
                border-radius: var(--r-mmd);

                & img {
                    width: 100%;
                    height: auto;
                    max-height: 21.875rem;
                    object-fit: cover;
                    border-radius: var(--r-mmd);
                    display: block;

                }

                & .block-row {
                    flex-wrap: wrap;
                    gap: var(--s-md);


                }


            }

        }



    }

}

/*END OF BANNER*/



/*GRID*/

.grid__section {
    background-color: var(--c-active-four);
    padding: 0;
    width: 100%;

    .container {
        background-color: var(--c-active-one);
    }

    & .grid__block {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        padding: var(--s-sm);

        & .grid__titles {
            & h3 {
                padding: 0 var(--s-sm);
            }

            & h4 {
                padding: 0 var(--s-sm);
            }

            & span {
                font: var(--f-link-md)
            }

        }

        & .grid__gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            align-items: start;
            gap: 2rem;
            margin: var(--s-md) auto;
            width: 100%;

            & .grid__card {
                background-color: var(--c-active-four);
                border-radius: var(--r-md);
                overflow: hidden;

                display: flex;
                flex-direction: column;
                height: auto;
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    transform: translateY(-5px);
                    cursor: pointer;
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                    z-index: 10;

                    & .card__image {
                        img {
                            transform: scale(1.05);
                        }
                    }

                    & .card__info {
                        max-height: 250px;
                        opacity: 1;
                        padding: 1.5rem;
                    }

                }

                & .card__image {
                    width: 100%;
                    height: 14rem;
                    overflow: hidden;
                    flex-shrink: 0;

                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: var(--r-mmd);
                        display: block;
                        transition: transform 0.5s ease;

                    }

                }
            }

            & .card__info {
                max-height: 0;
                opacity: 0;
                padding: 0 1.5rem;

                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                text-align: center;
                color: var(--c-text);
                overflow: hidden;
                transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;

                & h4,
                & span {
                    margin: 0;
                }

            }

        }

    }

}

/*GAME CARDS*/

.game-cards {
    & .game-cards__container {

        & .game-cards__block {
            background-color: var(--c-active-one);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            padding: var(--s-sm);

            overflow: hidden;

            & .game-cards__grid {
                display: flex;
                flex-wrap: nowrap;
                width: max-content;
                gap: 2rem;
                margin: var(--s-md) 0;
                align-items: center;
                will-change: transform;



                &.no-hover .game-card {
                    pointer-events: none;
                }

                & .game-card {

                    background-color: var(--c-active-four);
                    border-radius: var(--r-md);
                    overflow: hidden;
                    transition: transform 0.3s ease, box-shadow 0.3s ease;
                    cursor: pointer;

                    display: flex;
                    flex-direction: column;
                    height: 25rem;
                    width: 18rem;
                    flex-shrink: 0;


                    &:hover {

                        transform: translateY(-0.5rem);
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);

                        & img {
                            transform: scale(1.1);

                        }
                    }

                    & picture {
                        display: block;
                        width: 100%;
                        height: 100%;

                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                            transition: transform 0.5s ease;
                            pointer-events: none;


                        }
                    }
                }








            }

        }



    }

}



/*responsive*/

@media (max-width: 768px) {

    .nav__container {

        & .nav__block {

            & .nav__main-links {

                display: none;

            }

        }
    }
}